In [1]:
import pandas as pd

In [2]:
# Create dictionary of test scores
test_dict = {'Corey':[63,75,88], 'Kevin':[48,98,92], 'Akshay': [87, 86, 85]}

In [3]:
# Create DataFrame
df = pd.DataFrame(test_dict)

In [4]:
# Display DataFrame
df

   Corey  Kevin  Akshay
0     63     48      87
1     75     98      86
2     88     92      85

In [5]:
# Transpose DataFrame
df = df.T
df

         0   1   2
Corey   63  75  88
Kevin   48  98  92
Akshay  87  86  85