In [1]:
import datetime
from dateutil import tz

In [2]:
d1 = datetime.datetime(1989, 4, 24, hour=11, tzinfo=tz.gettz("Europe/Madrid"))

In [3]:
d2 = datetime.datetime(1989, 4, 24, hour=8, tzinfo=tz.gettz("America/Los_Angeles"))

In [4]:
print(d1.hour > d2.hour)

True

In [5]:
print(d1 > d2)

False

In [6]:
d2_madrid = d2.astimezone(tz.gettz("Europe/Madrid"))

In [7]:
print(d2_madrid.hour)

17